MNEMONIC="denial kitchen pet squirrel other broom bar gas better priority spoil cross" # solo mnemonic with funds
NEXT_PUBLIC_IPFS_PINNING_SERVICE="https://api.gateway-proxy.vechain.org/api/v1/pinning/pinFileToIPFS"