MNEMONIC="denial kitchen pet squirrel other broom bar gas better priority spoil cross" # solo mnemonic with funds
NEXT_PUBLIC_IPFS_PINNING_SERVICE="https://api.gateway-proxy.vechain.org/api/v1/pinning/pinFileToIPFS"
OPENAI_API_KEY=
NEXT_PUBLIC_TRANSAK_API_KEY=c864513e-2de0-4382-8597-16b419d75f6e