MNEMONIC="denial kitchen pet squirrel other broom bar gas better priority spoil cross" # solo mnemonic with funds
NEXT_PUBLIC_NFT_STORAGE_KEY="7c63a38f.23c56b011ddf422f9521d533d5ea53f2" # nft.storage key