# What network to connect to
NEXT_PUBLIC_NETWORK_TYPE=solo

# The location of a file containing the addresses and amounts to airdrop
INPUT_FILE=./input.json

# The private key to sign the transactions with (must be in hex format)
SIGNING_PK=<Private key to sign the transactions with>

# The gas price coefficient (defaults to 0 if omitted)
GAS_PRICE_COEF=0

# The max number of clauses per transaction
MAX_CLAUSES_PER_TX=100
