{
    "recipients": [
        {
            "address": "0xf077b491b355E64048cE21E3A6Fc4751eEeA77fa",
            "amount": "300000"
        },
        {
            "address": "0x435933c8064b4Ae76bE665428e0307eF2cCFBD68",
            "amount": "120000"
        },
        {
            "address": "0x995711ADca070C8f6cC9ca98A5B9C5A99b8350b1",
            "amount": "150000"
        },
        {
            "address": "0xbe05839C445DDD5bD8AB11dA20cE59A8dEC30203",
            "amount": "110000"
        }
    ]
}
