.slide {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.action-banner .swiper-slide-active {
  opacity: 1;
}

.action-banner .swiper-slide-prev,
.action-banner .swiper-slide-next {
  opacity: 0.5;
}

.action-banner ~ .swiper-pagination {
  line-height: 0;
  text-align: var(--swiper-pagination-text-align, "center") !important;
  left: var(--swiper-pagination-left, 0) !important;
}

.action-banner > .swiper-slide {
  height: auto;
}

@media (max-width: 500px) {
  .action-banner:has(+ .swiper-pagination),
  .action-banner:has(~ .swiper-pagination) {
    .swiper-slide {
      .chakra-heading {
        padding-top: 16px;
      }
    }
  }
}
